#Filter{

    fieldset {

        border:none;
        float:left;
        margin:20px 0 0 20px;
        max-width:40%;
    
    }
    
    @media only screen and (max-width: 40.63em) { 
        fieldset {
            width:100%;
            border: medium none;
            float: right;
            margin: 13px 0 0 10px;
        }
    
    }

}