header{
	
    background-color: #eeeeee;
    display: block;
    width: 100%;
	float:left;
	padding: 10px 0 15px 0;
	@media only screen and (max-width: 40.63em) { 
	
		padding: 10px 0 10px 0;
	
	}
	section{
	
		float:left;
		width: auto;

		
	}

}