<!DOCTYPE html>
<html lang=en ng-app=app>
    
    <head>
        
        <meta charset=UTF-8>
        <meta name=viewport content="initial-scale=1.0, user-scalable=no">
        <title>Recipes</title>
        <link rel=stylesheet type=text/css href=./css/app.css>
		<link rel="apple-touch-icon" sizes="57x57" href="./img/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="./img/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="./img/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="./img/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="./img/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="./img/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="./img/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="./img/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="./img/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="./img/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="./img/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="./img/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
        <meta property="og:title" content="Title goes here" />
		<meta property="og:site_name" content="Recipes"/>
		<meta property="og:url" content="http://...." />
		<meta property="og:description" content="Workday, a provider of cloud-based applications " />
		<meta property="og:locale" content="en_US" /> 
		<meta property="og:image" content="http://graphics.myfavnews.com/images/logo-100x100.jpg" />
		
    </head>
    
    <body>

        <section id=appWrapper ng-controller=mainAppController class="main slide row" ui-view="">
            
           <section ui-view=indexPage></section> 
			
			<section  ui-view=recipePage></section>
            
            	<section id='errorMessage' class='columns' ng-if='errorMessage' >{{errorMessage}}</section>
            
        </section>
 
        <script id=appScripts src=./js/all.min.js></script>
        
    </body>
    
</html>