

#Recipe{
	  
	  

	img{
	
		width:100%;
		margin-bottom:20px;
	}
	
	ul{
		float:left;
		width: 100%;
		li{
				margin:0 0 15px;
			
		}
	}
	.groupedIngidient{
		margin:0;
		padding:0;
		>li{
		  list-style: none;
			border:none;
			margin:0 0 25px;
			padding:0;
			ul{
				margin: 0;
				float: left;
				width: 100%;

				li{
					margin-bottom:15px;
					list-style: none;
					
				    

				}

				li:nth-child(1){
					border-right:1px dashed #777;
				    list-style:disc;
					list-style-position: inside;

				}
			}
			
		}
	}
	ol li{
		margin-bottom:20px;
	
	}

	.summary{
	
		font-style: italic;
	}
}